body {
	box-sizing: content-box;
	margin: 0px;
	padding: 10rem;
	text-align: center;
	background-color: #7189ac;
	background-image: none;
	color: #ffffff;
}

/* .App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
  }
  
  @keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
  } */

a:link		{ color: #ccccff }
a:active	{ color: #993333 }
a:visited	{ color: #ccccff }
a:hover		{ color: #ffff00 }

.main {
	display: flexbox;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	text-align: left;
}

.limited {
	max-width: 36rem;
}

#sqTable {
	margin:4rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-spacing: 0rem;
	background-color: #666666;
	color: #000000;
}

.sq, 
.score {
	margin: 0rem;
	border: 2px solid;
	border-color: #eeeeee #999999 #999999 #eeeeee;
	background-color: #cccccc;
	vertical-align: middle;
	text-align: center;
}

.sq {
	box-sizing: border-box; /* avoids jumpiness when zoomed */
	width: 1rem;
	min-width: 1rem;
	max-width: 1rem;
	height: 1rem;
	min-height: 1rem;
	max-height: 1rem;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	cursor: pointer;
}

.sqExposed {
	background-color: #bbbbbb;
	border-width: 1px;
	border-color: #999999;
	padding: 1px;
	cursor: default;
}

.sqExploded, .sqIncorrect {
	color: #ff0000;
}

.sq1 {
	color: #3333cc;
}
.sq2 {
	color: #006600;
}
.sq3 {
	color: #cc0000;
}
.sq4 {
	color: #660066;
}
.sq5 {
	color: #006666;
}
.sq6 {
	color: #99bb00;
}
.sq7 {
	color: #ffffff;
}
.sq8 {
	color: #000000;
}

.counter {
	margin: 10px;
	border: 1px inset #eeeeee;
	padding-right: 3px;
	width: 1.75em;
	background-color: #000000;
	color: #ff6666;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	text-align: right;
}

#mines {
    float: left;
    text-align: center;
    margin: 0.25rem;
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
}

#timer {
	float: right;
    text-align: center;
    margin: 0.25rem;
    vertical-align: middle;
    line-height: normal;
    line-height: 3rem;
    height: 3rem;
}

#smiley {
	margin: 2px;
	border: 3px groove #eeeeee;
	padding: 6px;
	vertical-align: middle;
	cursor: pointer;
}
